.idea/*
*.xml
*.pyc
mandelbrot_demo/__pycache__/__init__.cpython-39.pyc
*.pyc
mandelbrot_demo/__pycache__/__init__.cpython-39.pyc
mandelbrot_demo/__pycache__/mandelbrot.cpython-39.pyc
mandelbrot_demo/impl/__pycache__/__init__.cpython-39.pyc
mandelbrot_demo/impl/__pycache__/arg_parser.cpython-39.pyc
mandelbrot_demo/impl/__pycache__/impl_dpnp.cpython-39.pyc
mandelbrot_demo/impl/__pycache__/impl_numba.cpython-39.pyc
mandelbrot_demo/impl/__pycache__/impl_numpy.cpython-39.pyc
mandelbrot_demo/impl/__pycache__/impl_versioner.cpython-39.pyc
mandelbrot_demo/impl/__pycache__/settings.cpython-39.pyc
mandelbrot_demo/impl/__pycache__/visualization.cpython-39.pyc
*.pyc
